# Ignore directories
downloaded_threads/
markdown_files/
discourse_json/
__pycache__/
auth.json
discourse_posts.json
# Ignore Python virtual environments
venv/
.venv/

# Ignore files
.env
preprocess.py
*.pyc
.DS_Store